<h1>Listing topics</h1>
<table>
 
<% @topics.each do |topic| %>
  <tr>   
    <%=link_to_remote topic.subject,:update => 'main-div', :url => forum_topic_path(topic.forum_id, topic), :method => 'GET'%>  
  </tr>
<% end %>
</table>

<br />

<%= link_to_remote 'New topic', :update => 'main-div', :url => new_forum_topic_path, :method => 'get' %>

